[flake8]
max-line-length = 120
extend-exclude =
    docs/*,
    examples/*,
    setup.py
extend-ignore = E203
per-file-ignores =
    */__init__.py:F401,F403,E402
    */builder.py:F401,F403,E402
    tools/eval.py:E402
    tools/train.py:E402
    tools/infer/text/postprocess.py:E402
    tools/infer/text/preprocess.py:E402
    tools/infer/text/predict_det.py:E402
    tools/benchmarking/multi_dataset_eval.py:E402
    tools/export.py:E402
    tools/infer/text/parallel/base_predict.py:E402
    tools/infer/text/parallel/predict_system.py:E402
    tools/infer/text/predict_system.py:E402
    tools/infer/text/predict_rec.py:E402
    tools/dataset_converters/convert.py:F401,F403
    deploy/demo/mindocr_lite/infer.py:E402
    deploy/models_utils/auto_scaling/converter.py:E402
    mindocr/data/transforms/transforms_factory.py:F401,F403
    tests/*:E402
    tests/ut/dataset_convert/test_dataset_converter.py:E402
    tests/ut/test_datasets.py:F401,E402
