imgaug
lmdb
pyclipper
shapely
tqdm
addict
scikit-learn
matplotlib
addict
rapidfuzz==2.13.7
numpy==1.21.6
opencv-python-headless==3.4.18.65
Pillow==9.1.1
python-Levenshtein==0.20.9
PyYAML==6.0
xml-python==0.4.3
