lmdb
pyclipper~=1.3.0.post4
shapely~=1.8
addict
scikit-learn
matplotlib
numpy
imgaug>=0.4.0
tqdm>=4.64.1
opencv-python-headless>=3.4.18.65
rapidfuzz>=2.13.7
Pillow>=9.1.1
PyYAML>=6.0
xml-python>=0.4.3
packaging
scipy~=1.7.3
