#one config per line
#use '=' to separate key and value

#chip config
deviceId = 0 #use the device to run the program

#chip type
deviceType = 310P

#det model path
detModelPath = ./models/dbnet/dbnet_dy_dynamic_shape.om

#rec model mode
staticRecModelMode=true

#rec model path
recModelPath = ./models/crnn/static

#cls model path, only required when using cls model
clsModelPath = ./models/cls/cls_310P.om

#rec model input width, height, only required when using rec model with dynamic shape mode
recHeight = 32
recMinWidth = 32
recMaxWidth = 4096

#rec model dictionary path
dictPath = ./models/crnn/ppocr_keys_v1.txt

#switch of save infer result
saveInferResult = false

#infer result path
resultPath = ./result