postprocess:
  name: EASTPostprocess
  score_thresh: 0.8
  cover_thresh: 0.1
  nms_thresh: 0.2
  from_ppocr: True


eval:
  dataset:
    transform_pipeline:
      - DecodeImage:
          img_mode: BGR
          channel_first: False
      - ScalePadImage:
      - NormalizeImage:
          mean: [ 123.675, 116.28 , 103.53 ]
          std: [ 58.395, 57.12 , 57.375 ]
          is_hwc: True
      - ToCHWImage:
