# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7"] #["3.7", "3.8", "3.9"] TBA
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
        pip install cpplint
        # MindSpore must be installed following the instruction from official web, but not from pypi.
        # That's why we exclude mindspore from requirements.txt. Does this work?
        pip install "mindspore>=1.9,<=1.10"
    - name: Lint with pre-commit
      uses: pre-commit/action@v3.0.0
    - name: Check_Cpplint
      run: |
        cpplint --root=src --extensions=cxx,cu,hh,cpp,hxx,cuh,h++,cc,c,hpp,c++,h,tpp,txx,cl \
          --filter=-build/header_guard,-build/c++11,-legal/copyright --quiet --linelength=160 \
          --recursive deploy/cpp_infer
    - name: Test with pytest (UT)
      run: |
        pytest tests/ut/*.py
    - name: Test with pytest (ST)
      run: |
        pytest tests/st/*.py
